## Gather

In [45]:
import pandas as pd

In [46]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [47]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,Löfgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [48]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [49]:
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [50]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
patient_id      503 non-null int64
assigned_sex    503 non-null object
given_name      503 non-null object
surname         503 non-null object
address         491 non-null object
city            491 non-null object
state           491 non-null object
zip_code        491 non-null float64
country         491 non-null object
contact         491 non-null object
birthdate       503 non-null object
weight          503 non-null float64
height          503 non-null int64
bmi             503 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [51]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
given_name      280 non-null object
surname         280 non-null object
auralin         280 non-null object
novodra         280 non-null object
hba1c_start     280 non-null float64
hba1c_end       280 non-null float64
hba1c_change    171 non-null float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [52]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
given_name          34 non-null object
surname             34 non-null object
adverse_reaction    34 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes

In [53]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [54]:
patients.columns

Index(['patient_id', 'assigned_sex', 'given_name', 'surname', 'address',
       'city', 'state', 'zip_code', 'country', 'contact', 'birthdate',
       'weight', 'height', 'bmi'],
      dtype='object')

In [55]:
treatments.columns

Index(['given_name', 'surname', 'auralin', 'novodra', 'hba1c_start',
       'hba1c_end', 'hba1c_change'],
      dtype='object')

In [56]:
adverse_reactions.columns

Index(['given_name', 'surname', 'adverse_reaction'], dtype='object')

In [57]:
all_columns

0           patient_id
1         assigned_sex
2           given_name
3              surname
4              address
5                 city
6                state
7             zip_code
8              country
9              contact
10           birthdate
11              weight
12              height
13                 bmi
14          given_name
15             surname
16             auralin
17             novodra
18         hba1c_start
19           hba1c_end
20        hba1c_change
21          given_name
22             surname
23    adverse_reaction
dtype: object

In [58]:
list(patients)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'contact',
 'birthdate',
 'weight',
 'height',
 'bmi']

In [59]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [60]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [61]:
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [62]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
106,107,male,Inunnguaq,Heilmann,4110 Capitol Avenue,New Castle,IN,47362.0,United States,InunnguaqHeilmann@rhyta.com1 765 599 8847,5/6/1976,219.9,67,34.4
195,196,female,Lamara,Dratchev,3731 Swick Hill Street,New Orleans,LA,70113.0,United States,985-253-7891LamaraDratchev@teleworm.us,10/20/1954,181.3,67,28.4
82,83,female,Châu,Thạch,4814 Layman Court,Atlanta,GA,30346.0,United States,678-350-2390ThachThiKieuChau@superrito.com,3/3/1999,171.4,60,33.5
84,85,female,Nương,Vũ,465 Southern Street,New York,NY,10001.0,United States,VuCamNuong@fleckens.hu516-720-5094,2/1/1981,138.2,63,24.5
455,456,female,Hui,Ch'eng,3423 Burning Memory Lane,Yardley,PA,19067.0,United States,215-321-9611HuiCheng@rhyta.com,5/3/1982,203.1,69,30.0

In [63]:
patients.surname.value_counts()

Doe             6
Jakobsen        3
Taylor          3
Ogochukwu       2
Lund            2
Grímsdóttir     2
Woźniak         2
Tạ              2
Liễu            2
Souza           2
Berg            2
Correia         2
Johnson         2
Gersten         2
Cabrera         2
Bùi             2
Schiavone       2
Nilsen          2
Kowalczyk       2
Hueber          2
Silva           2
Cindrić         2
Collins         2
Aranda          2
Dratchev        2
Kadyrov         2
Tucker          2
Batukayev       2
Lương           2
Parker          2
               ..
Horikawa        1
Morita          1
Onyekaozulu     1
Arsanukayev     1
Ekwueme         1
Hrafnsdóttir    1
Scheltens       1
Okoli           1
﻿Dvořák         1
Kishiev         1
Woodward        1
Eldarkhanov     1
Milne           1
Olofsson        1
Stanić          1
Gaber           1
Hansen          1
Tsukada         1
Dandonneau      1
Labrosse        1
Hunter          1
Schneider       1
Jindrová        1
Carvalho        1
Zimmerman       1
Chung           1
Chidi           1
Touma           1
Baum            1
Galić           1
Name: surname, Length: 466, dtype: int64

In [64]:
patients.address.value_counts()

123 Main Street             6
2476 Fulton Street          2
2778 North Avenue           2
648 Old Dear Lane           2
3414 Franklin Avenue        1
4500 Myra Street            1
3161 Fantages Way           1
2967 Prudence Street        1
4839 North Avenue           1
2866 Myra Street            1
4853 University Drive       1
3303 Anmoore Road           1
69 Mattson Street           1
4649 Joanne Lane            1
4792 Maud Street            1
206 Eagle Lane              1
2881 Harter Street          1
2438 Shady Pines Drive      1
1231 Grim Avenue            1
4093 Smith Street           1
1934 August Lane            1
2531 Eastland Avenue        1
4291 Patton Lane            1
3145 Sheila Lane            1
783 Callison Lane           1
2322 Grim Avenue            1
2972 Hillview Street        1
4148 Callison Lane          1
2146 Willow Greene Drive    1
3165 Upton Avenue           1
                           ..
4649 Worley Avenue          1
4155 Raccoon Run            1
1614 Heather Sees Way       1
1733 Blackwell Street       1
4278 Hart Country Lane      1
3945 Simons Hollow Road     1
4033 White Avenue           1
3958 Liberty Avenue         1
2043 Jadewood Drive         1
909 Williams Avenue         1
4236 Beech Street           1
633 Better Street           1
4213 Isaacs Creek Road      1
385 Walnut Avenue           1
3743 Wescam Court           1
3251 Radio Park Drive       1
1865 Honeysuckle Lane       1
3499 Baker Avenue           1
2386 Linda Street           1
3868 Freed Drive            1
1428 Turkey Pen Lane        1
1386 Farland Street         1
3977 Jail Drive             1
3613 Lodgeville Road        1
550 Cliffside Drive         1
3130 Jessie Street          1
4019 Cerullo Road           1
1012 Lords Way              1
2808 Circle Drive           1
1066 Goosetown Drive        1
Name: address, Length: 483, dtype: int64

In [65]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [66]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
       ...
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [67]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [68]:
patients[patients.surname == 'Zaitseva'].bmi

210    19.1
Name: bmi, dtype: float64

In [69]:
sum(treatments.auralin.isnull())

0

In [70]:
sum(treatments.novodra.isnull())

0

#### Quality
##### `patients` table
- Zip code is a float not a string
- Zip code has four digits sometimes
- Tim Neudorf height is 27 in instead of 72 in
- Full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns) ***(can't clean)***
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- Multiple phone number formats
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight

##### `treatments` table
- Missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- Lowercase given names and surnames
- Missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (leading 4s mistaken as 9s)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `adverse_reactions` table
- Lowercase given names and surnames

#### Tidiness
- Contact column in `patients` table should be split into phone number and email
- Three variables in two columns in `treatments` table (treatment, start dose and end dose)
- Adverse reaction should be part of the `treatments` table
- Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables

## Clean

In [71]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### Missing Data

<font color='red'>Complete the following two "Missing Data" **Define, Code, and Test** sequences after watching the *"Address Missing Data First"* video.</font>

#### `treatments`: Missing records (280 instead of 350)

##### Define
Import the cut treatments into a DataFrame and concatenate it with the original treatments DataFrame.

##### Code

In [72]:
treatments_cut = pd.read_csv('treatments_cut.csv')
treatments_clean = pd.concat([treatments_clean, treatments_cut],
                             ignore_index=True)

In [73]:
treatments_cut.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,jožka,resanovič,22u - 30u,-,7.56,7.22,0.34
1,inunnguaq,heilmann,57u - 67u,-,7.85,7.45,NaN
2,alwin,svensson,36u - 39u,-,7.78,7.34,NaN
3,thể,lương,-,61u - 64u,7.64,7.22,0.92
4,amanda,ribeiro,36u - 44u,-,7.85,7.47,0.38

In [74]:
treatments_cut.shape

(70, 7)

In [75]:
treatments_clean.shape

(350, 7)

##### Test

In [76]:
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [77]:
treatments_clean.tail()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

#### `treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (leading 4s mistaken as 9s)
*Note: the "Inaccurate HbA1c changes (leading 4s mistaken as 9s)" observation, which is an accuracy issue and not a completeness issue, is included in this header because it is also fixed by the cleaning operation that fixes the missing "Missing HbA1c changes" observation. Multiple observations in one **Define, Code, and Test** header occurs multiple times in this notebook.*

##### Define
Recalculate the `hba1c_change` column: `hba1c_start` minus `hba1c_end`.

##### Code

In [78]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - treatments_clean.hba1c_end)

##### Test

In [79]:
treatments_clean.hba1c_change.head()

0    0.43
1    0.47
2    0.43
3    0.35
4    0.32
Name: hba1c_change, dtype: float64

### Tidiness

<font color='red'>Complete the following four "Tidiness" **Define, Code, and Test** sequences after watching the *"Cleaning for Tidiness"* video.</font>

#### Contact column in `patients` table contains two variables: phone number and email

##### Define
*Your definition here. Hint 1: use regular expressions with pandas' [`str.extract` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html). Here is an amazing [regex tutorial](https://regexone.com/). Hint 2: [various phone number regex patterns](https://stackoverflow.com/questions/16699007/regular-expression-to-match-standard-10-digit-phone-number). Hint 3: [email address regex pattern](http://emailregex.com/), which you might need to modify to distinguish the email from the phone number.*

##### Code

In [80]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

##### Test

In [81]:
patients_clean['phone_number'].head(3)

0         951-719-9170
1    +1 (217) 569-3204
2         402-363-6804
Name: phone_number, dtype: object

In [82]:
patients_clean.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,phone_number
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,+1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,+1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487

In [83]:
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+[a-zA-Z])', expand=True)

In [84]:
patients_clean.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,phone_number,email
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170,ZoeWellish@superrito.com
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,+1 (217) 569-3204,PamelaSHill@cuvox.de
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804,JaeMDebord@gustr.com
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,+1 (732) 636-8246,PhanBaLiem@jourrapide.com
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487,TimNeudorf@cuvox.de

In [85]:
patients_clean = patients_clean.drop('contact', axis=1)

In [86]:
patients_clean.head(1)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,phone_number,email
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,7/10/1976,121.7,66,19.6,951-719-9170,ZoeWellish@superrito.com

#### Three variables in two columns in `treatments` table (treatment, start dose and end dose)

##### Define
*Your definition here. Hint: use pandas' [melt function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html) and [`str.split()` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html). Here is an excellent [`melt` tutorial](https://deparkes.co.uk/2016/10/28/reshape-pandas-data-with-melt/).*

##### Code

In [87]:
treatment_copy = treatments_clean.copy()

In [94]:
treatment_copy.head(3)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43

In [89]:
treatment_copy.shape

(350, 7)

In [135]:
treatments_clean = treatment_copy.copy()

In [136]:
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment', value_name='dose')
treatments_clean.head(3)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
1,elliot,richardson,7.56,7.09,0.47,auralin,-
2,yukitaka,takenaka,7.68,7.25,0.43,auralin,-

In [137]:
treatments_clean = treatments_clean[treatments_clean.dose != "-"]
treatments_clean.head(3)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u

In [138]:
treatments_clean.tail(3)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u - 23u
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u
698,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u

In [139]:
treatments_clean.shape

(350, 7)

In [140]:
pd.options.display.max_rows = 700
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u - 36u
10,joseph,day,7.70,7.19,0.51,auralin,29u - 36u
12,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u - 38u
14,simone,baumgaertner,7.74,7.30,0.44,auralin,27u - 37u
15,enco,žibrik,7.78,7.34,0.44,auralin,55u - 68u
16,camilla,zaitseva,7.53,7.13,0.40,auralin,28u - 37u
21,tekla,walczak,7.61,7.29,0.32,auralin,29u - 39u
22,brancaleone,russo,8.61,8.18,0.43,auralin,53u - 60u
24,isac,berg,9.68,9.29,0.39,auralin,31u - 41u
28,clinton,miller,7.79,7.40,0.39,auralin,42u - 51u
29,eugene,mironov,7.81,7.48,0.33,auralin,42u - 49u
30,szilveszter,totth,7.70,7.38,0.32,auralin,35u - 39u
34,alexander,mathiesen,7.96,7.55,0.41,auralin,47u - 58u
36,chỉ,lâm,7.68,7.24,0.44,auralin,45u - 48u
37,władysław,wieczorek,7.92,7.47,0.45,auralin,24u - 37u
38,kristján,ingason,7.92,7.57,0.35,auralin,44u - 55u
42,marija,grubišić,7.53,7.15,0.38,auralin,37u - 43u
44,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u - 47u
46,mariana,souza,7.86,7.51,0.35,auralin,36u - 42u
51,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u - 37u
52,mỹ,quynh,7.61,7.16,0.45,auralin,57u - 64u
54,oles,zhdanov,7.52,7.11,0.41,auralin,54u - 67u
55,triana.,terrazas,7.71,7.34,0.37,auralin,34u - 42u
58,gabryŝ,tomaszewski,7.87,7.47,0.40,auralin,29u - 37u
59,leixandre,alanis,7.74,7.32,0.42,auralin,61u - 67u
60,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u - 46u
61,mijndert,ouwendijk,7.81,7.50,0.31,auralin,30u - 39u
63,coralie,allaire,7.63,7.30,0.33,auralin,39u - 46u
64,cumelén,miramontes,7.71,7.33,0.38,auralin,24u - 32u
66,louise,johnson,7.63,7.32,0.31,auralin,32u - 42u
69,ivan,fomin,9.12,8.73,0.39,auralin,25u - 32u
73,mette,sandgreen,7.56,7.08,0.48,auralin,36u - 46u
78,julia,werner,7.58,7.24,0.34,auralin,35u - 40u
79,avdei,tikhonov,7.77,7.27,0.50,auralin,27u - 36u
81,robert,wagner,9.84,9.52,0.32,auralin,43u - 49u
82,maya,isaksson,7.66,7.17,0.49,auralin,33u - 41u
84,furuta,osman,7.52,7.18,0.34,auralin,30u - 41u
85,nilton,quintanilla,7.86,7.48,0.38,auralin,42u - 49u
87,finley,chandler,7.65,7.26,0.39,auralin,31u - 45u
89,stefanie,herman,7.72,7.30,0.42,auralin,44u - 55u
90,karen,jakobsen,7.59,7.25,0.34,auralin,34u - 42u
95,jaakko,eskelinen,7.73,7.42,0.31,auralin,39u - 45u
98,idalia,moore,8.34,7.90,0.44,auralin,25u - 31u
104,renzo,lucchese,7.54,7.17,0.37,auralin,53u - 64u
109,marius,hansen,7.97,7.53,0.44,auralin,41u - 47u
112,olof,holm,7.85,7.43,0.42,auralin,39u - 52u
113,kari,laatikainen,7.50,7.11,0.39,auralin,39u - 43u
115,xiuxiu,chang,7.64,7.23,0.41,auralin,32u - 41u
116,yasmin,silva,8.88,8.46,0.42,auralin,36u - 44u
118,burrell,mathieu,8.71,8.39,0.32,auralin,46u - 58u
119,liisa,seppälä,7.87,7.51,0.36,auralin,36u - 47u
120,zikoranaudodimma,chinedum,8.19,7.83,0.36,auralin,41u - 51u
121,habte,kifle,7.59,7.13,0.46,auralin,42u - 48u
122,rafael,costa,7.73,7.34,0.39,auralin,50u - 60u
125,marcel,peters,9.56,9.19,0.37,auralin,48u - 60u
129,kaodilinakachukwu,nnonso,7.76,7.40,0.36,auralin,63u - 68u
132,urso,aranda,7.60,7.16,0.44,auralin,30u - 38u
135,rut,halldórsdóttir,9.01,8.63,0.38,auralin,31u - 40u
136,joseph,day,7.70,7.19,0.51,auralin,29u - 36u
139,barbora,vesecká,7.90,7.46,0.44,auralin,29u - 45u
141,johana,hrdá,7.79,7.49,0.30,auralin,54u - 54u
143,nora,nyborg,7.83,7.48,0.35,auralin,55u - 59u
144,nicoline,østergaard,7.84,7.57,0.27,auralin,24u - 32u
145,ruman,bisliev,7.72,7.39,0.33,auralin,46u - 53u
146,hanna-mari,filatov,7.71,7.30,0.41,auralin,55u - 61u
149,muhammad,holden,7.55,7.09,0.46,auralin,29u - 37u
150,manuela,cindrić,8.07,7.76,0.31,auralin,55u - 66u
151,nile,mehari,9.25,8.79,0.46,auralin,40u - 53u
152,lewis,webb,7.85,7.52,0.33,auralin,39u - 44u
159,yunadi,barsukov,9.47,9.05,0.42,auralin,48u - 58u
160,harley,tucker,7.97,7.64,0.33,auralin,47u - 57u
161,rebecca,priest,7.87,7.57,0.30,auralin,40u - 42u
162,helen,luwam,7.66,7.19,0.47,auralin,32u - 42u
163,malik,vaneker,7.55,7.12,0.43,auralin,44u - 54u
164,felicijan,bubanj,7.85,7.50,0.35,auralin,62u - 75u
165,jeramy,hopkins,8.02,7.67,0.35,auralin,37u - 46u
166,annie,allen,9.95,9.58,0.37,auralin,36u - 42u
167,lamara,dratchev,7.75,7.40,0.35,auralin,49u - 58u
168,nadwah,naifeh,7.97,7.52,0.45,auralin,44u - 53u
169,benigna,ferrari,7.78,7.36,0.42,auralin,41u - 52u
170,sun,ko,7.59,7.23,0.36,auralin,33u - 39u
171,justyna,kowalczyk,9.84,9.44,0.40,auralin,24u - 34u
173,gabriele,saenger,8.35,7.97,0.38,auralin,22u - 30u
174,mustafa,adonay,7.79,7.34,0.45,auralin,58u - 69u
175,marina,glockner,7.88,7.55,0.33,auralin,35u - 45u
176,andré,nordin,7.60,7.27,0.33,auralin,40u - 47u
177,samuel,blix,7.97,7.56,0.41,auralin,48u - 55u
178,kerman,dandonneau,7.82,7.28,0.54,auralin,41u - 50u
179,jan,baum,7.57,7.19,0.38,auralin,53u - 57u
180,merci,leroux,8.98,8.64,0.34,auralin,27u - 33u
184,chân,bùi,7.53,7.18,0.35,auralin,31u - 42u
189,mee,chung,7.56,7.20,0.36,auralin,42u - 56u
193,svanhvít,guðjónsdóttir,7.57,7.11,0.46,auralin,37u - 44u
195,minea,lindgren,9.45,8.94,0.51,auralin,38u - 45u
196,peter,pospíšil,7.76,7.34,0.42,auralin,51u - 60u
198,amalie,christensen,7.88,7.55,0.33,auralin,38u - 45u
200,nicolas,ferreira,7.99,7.72,0.27,auralin,43u - 51u
204,maximus,henzen,7.79,7.34,0.45,auralin,49u - 55u
207,jin,kung,7.80,7.50,0.30,auralin,55u - 60u
209,kári,hervinsson,8.09,7.66,0.43,auralin,37u - 43u
210,vanessa,ferguson,7.97,7.58,0.39,auralin,39u - 50u
211,nương,vũ,7.68,7.29,0.39,auralin,31u - 38u
212,alexander,hueber,7.71,7.35,0.36,auralin,35u - 38u
214,erick,pinto,7.88,7.49,0.39,auralin,44u - 54u
217,taylah,mobourne,7.90,7.51,0.39,auralin,41u - 50u
220,sinead,reilly,7.76,7.39,0.37,auralin,27u - 39u
222,veronica,bogolyubova,7.69,7.31,0.38,auralin,25u - 35u
223,anenechi,chidi,7.64,7.31,0.33,auralin,52u - 61u
224,cintia,csorba,8.49,8.00,0.49,auralin,47u - 50u
227,erica,macdonald,7.55,7.26,0.29,auralin,33u - 39u
228,hawra',tuma,7.93,7.56,0.37,auralin,26u - 35u
229,sandra,taylor,7.84,7.49,0.35,auralin,51u - 58u
231,kisanet,selassie,9.64,9.27,0.37,auralin,48u - 59u
233,arne,jørgensen,9.65,9.31,0.34,auralin,32u - 43u
236,hường,lâm,7.66,7.29,0.37,auralin,40u - 49u
237,manouck,wubbels,7.66,7.40,0.26,auralin,55u - 62u
244,angel,grant,7.93,7.47,0.46,auralin,31u - 37u
246,tomáš,navrátil,7.84,7.41,0.43,auralin,24u - 36u
247,johanna,dreher,7.77,7.34,0.43,auralin,51u - 59u
248,brianna,lansell,9.48,9.06,0.42,auralin,39u - 47u
253,albino,schiavone,7.56,7.15,0.41,auralin,35u - 43u
255,jia li,teng,7.66,7.32,0.34,auralin,48u - 54u
256,ilija,horvat,7.77,7.38,0.39,auralin,42u - 50u
262,alex,crawford,7.69,7.30,0.39,auralin,51u - 62u
263,rebecca,jephcott,7.96,7.57,0.39,auralin,53u - 63u
266,ursula,freud,7.75,7.46,0.29,auralin,42u - 54u
270,mika,martinsson,7.50,7.17,0.33,auralin,34u - 43u
273,kate,wilkinson,7.72,7.20,0.52,auralin,36u - 39u
274,naja,enoksen,7.98,7.59,0.39,auralin,43u - 50u
275,albina,zetticci,7.93,7.73,0.20,auralin,45u - 51u
277,mathea,lillebø,9.04,8.67,0.37,auralin,23u - 36u
278,vallie,prince,7.64,7.28,0.36,auralin,31u - 38u
279,samúel,guðbrandsson,8.00,7.64,0.36,auralin,53u - 56u
280,jožka,resanovič,7.56,7.22,0.34,auralin,22u - 30u
281,inunnguaq,heilmann,7.85,7.45,0.40,auralin,57u - 67u
282,alwin,svensson,7.78,7.34,0.44,auralin,36u - 39u
284,amanda,ribeiro,7.85,7.47,0.38,auralin,36u - 44u
286,sara,miles,7.53,7.12,0.41,auralin,30u - 35u
287,frydryk,adamski,7.75,7.27,0.48,auralin,63u - 74u
291,gabriela,michalčíková,8.37,7.97,0.40,auralin,26u - 36u
293,bernarda,cindrić,7.89,7.55,0.34,auralin,40u - 49u
295,dani,antoun,7.73,7.34,0.39,auralin,36u - 44u
296,mijael,guerra,7.85,7.46,0.39,auralin,37u - 47u
297,emma,barlow,7.85,7.39,0.46,auralin,48u - 57u
298,flavia,fiorentino,7.95,7.60,0.35,auralin,46u - 57u
299,noe,aranda,7.51,7.17,0.34,auralin,26u - 34u
300,seweryna,czerwinska,7.66,7.30,0.36,auralin,39u - 46u
301,david,villadsen,7.86,7.40,0.46,auralin,26u - 39u
304,lóa,hrafnsdóttir,7.60,7.09,0.51,auralin,22u - 31u
305,siebrigje,koldenhof,7.90,7.59,0.31,auralin,30u - 38u
310,trifon,izmailov,7.68,7.28,0.40,auralin,58u - 63u
311,galit,casárez,7.91,7.56,0.35,auralin,27u - 37u
312,kifle,mustafa,7.80,7.41,0.39,auralin,42u - 50u
315,alvin,jackson,7.62,7.23,0.39,auralin,38u - 43u
316,chibuzo,okoli,7.64,7.29,0.35,auralin,28u - 33u
319,maryam,dratchev,9.91,9.46,0.45,auralin,37u - 45u
323,hans peter,radislav,7.60,7.20,0.40,auralin,42u - 53u
325,štefanija,novosel,7.64,7.17,0.47,auralin,37u - 42u
326,anja,mueller,7.58,7.29,0.29,auralin,43u - 56u
327,regolo,nucci,7.53,7.02,0.51,auralin,51u - 59u
332,vivien,zsinkó,8.35,7.92,0.43,auralin,30u - 38u
333,genet,fesahaye,7.73,7.36,0.37,auralin,25u - 35u
336,blanka,jurković,7.77,7.33,0.44,auralin,31u - 43u
337,joseph,tucker,7.67,7.30,0.37,auralin,48u - 56u
339,robert,maslov,7.65,7.35,0.30,auralin,55u - 68u
341,ella,lund,7.57,7.21,0.36,auralin,38u - 47u
342,fakhri,fakhoury,7.83,7.39,0.44,auralin,39u - 50u
343,žarka,rap,7.54,7.15,0.39,auralin,35u - 48u
345,rovzan,kishiev,7.75,7.41,0.34,auralin,32u - 37u
347,bernd,schneider,7.74,7.44,0.30,auralin,48u - 56u
349,armina,sauvé,7.86,7.40,0.46,auralin,36u - 46u
351,elliot,richardson,7.56,7.09,0.47,novodra,40u - 45u
352,yukitaka,takenaka,7.68,7.25,0.43,novodra,39u - 36u
354,alissa,montez,7.78,7.46,0.32,novodra,33u - 29u
355,jasmine,sykes,7.56,7.18,0.38,novodra,42u - 44u
358,saber,ménard,8.08,7.70,0.38,novodra,54u - 54u
361,kristiina,hyypiä,7.87,7.49,0.38,novodra,36u - 38u
363,gregor,bole,7.61,7.16,0.45,novodra,47u - 45u
367,gina,cain,7.88,7.40,0.48,novodra,36u - 36u
368,addolorata,lombardi,7.75,7.33,0.42,novodra,49u - 46u
369,khalid,johnsrud,8.35,7.94,0.41,novodra,54u - 54u
370,mile,stanić,7.66,7.24,0.42,novodra,47u - 48u
373,chiemela,tobeolisa,7.59,7.17,0.42,novodra,43u - 47u
375,benoît,bonami,9.82,9.40,0.42,novodra,44u - 43u
376,suhaim,rahal,7.94,7.50,0.44,novodra,49u - 47u
377,mizuki,iwata,7.70,7.23,0.47,novodra,45u - 46u
381,bao,she,9.09,8.62,0.47,novodra,48u - 45u
382,laura,ehrlichmann,7.95,7.46,0.49,novodra,43u - 40u
383,cannan,cabrera,7.94,7.58,0.36,novodra,40u - 31u
385,csaba,sági,7.88,7.48,0.40,novodra,35u - 29u
389,krisztina,magyar,7.52,7.01,0.51,novodra,32u - 27u
390,ásta,grímsdóttir,7.62,7.16,0.46,novodra,29u - 30u
391,mahmud,kadyrov,7.53,7.11,0.42,novodra,44u - 43u
393,jens,poulsen,7.55,7.16,0.39,novodra,36u - 32u
395,zdeněk,synek,7.67,7.32,0.35,novodra,31u - 31u
397,jad allah,gaber,7.97,7.52,0.45,novodra,38u - 41u
398,zak,kelly,7.66,7.26,0.40,novodra,38u - 38u
399,jackson,addison,7.99,7.51,0.48,novodra,42u - 42u
400,albinca,komavec,7.89,7.46,0.43,novodra,41u - 39u
403,nasser,mansour,7.51,7.06,0.45,novodra,33u - 31u
406,juliusz,majewski,7.78,7.31,0.47,novodra,41u - 39u
407,klementyna,sokołowska,7.98,7.53,0.45,novodra,42u - 41u
412,hanka,gegič,7.67,7.29,0.38,novodra,19u - 27u
415,elisabeth,dimmen,7.60,7.28,0.32,novodra,41u - 36u
417,joe,edwards,9.35,8.89,0.46,novodra,36u - 37u
418,fatimah,kinfe,7.88,7.56,0.32,novodra,43u - 42u
420,tosh,jensen,7.93,7.69,0.24,novodra,51u - 48u
421,hugo,collins,8.00,7.53,0.47,novodra,53u - 55u
422,gabrielle,bidwill,7.76,7.37,0.39,novodra,44u - 49u
424,ole,petersen,7.95,7.55,0.40,novodra,29u - 32u
425,mackenzie,mckay,9.87,9.48,0.39,novodra,44u - 43u
426,noriyuki,sakai,7.58,7.16,0.42,novodra,32u - 31u
427,placido,udinesi,7.91,7.49,0.42,novodra,38u - 41u
430,hideki,haraguchi,7.59,7.05,0.54,novodra,37u - 35u
433,else,andersen,7.98,7.60,0.38,novodra,36u - 38u
436,ananías,enríquez,7.58,7.07,0.51,novodra,44u - 45u
438,yumena,nakayama,7.76,7.35,0.41,novodra,34u - 32u
441,michael,kristensen,8.51,8.08,0.43,novodra,40u - 39u
442,sousuke,nakahara,7.91,7.49,0.42,novodra,37u - 35u
443,melisa,mata,8.56,8.27,0.29,novodra,57u - 57u
444,kwasi,mensa,8.29,7.89,0.40,novodra,40u - 36u
446,abdul-nur,isa,7.98,7.53,0.45,novodra,54u - 50u
447,niels,lange,7.58,7.21,0.37,novodra,43u - 38u
449,abel,yonatan,7.88,7.50,0.38,novodra,38u - 39u
450,kai,cunha,7.81,7.42,0.39,novodra,37u - 36u
451,markus,solberg,7.95,7.57,0.38,novodra,35u - 30u
452,bội,tạ,7.73,7.32,0.41,novodra,41u - 40u
453,søren,frederiksen,7.71,7.31,0.40,novodra,56u - 58u
455,finlay,sheppard,7.51,7.17,0.34,novodra,31u - 30u
456,sofia,karlsen,7.62,7.15,0.47,novodra,35u - 29u
457,flaviano,endrizzi,7.93,7.56,0.37,novodra,46u - 43u
458,mùi,lương,7.74,7.32,0.42,novodra,52u - 50u
460,suoma,koivunen,7.59,7.13,0.46,novodra,26u - 25u
461,mevla,grabljevec,7.72,7.44,0.28,novodra,51u - 55u
464,sabr,amari,7.94,7.57,0.37,novodra,32u - 27u
467,javier,moquin,8.00,7.59,0.41,novodra,30u - 32u
473,mgbankwo,afamefuna,7.55,7.18,0.37,novodra,36u - 37u
474,nate,bowden,9.81,9.30,0.51,novodra,48u - 47u
476,jowita,wiśniewska,7.50,7.08,0.42,novodra,22u - 23u
477,farizah,sleiman,7.80,7.40,0.40,novodra,50u - 50u
478,david,gustafsson,7.72,7.28,0.44,novodra,33u - 34u
480,kamila,pecinová,7.77,7.39,0.38,novodra,54u - 51u
481,søren,sørensen,7.93,7.59,0.34,novodra,41u - 39u
483,vasco,van de wiel,7.94,7.51,0.43,novodra,31u - 29u
484,kwemtochukwu,ogochukwu,7.86,7.53,0.33,novodra,34u - 37u
487,ivona,jakšić,7.98,7.54,0.44,novodra,41u - 41u
488,giovana,rocha,7.87,7.38,0.49,novodra,23u - 21u
490,jesse,luoma,7.72,7.35,0.37,novodra,39u - 37u
492,stephen,mayberry,7.82,7.47,0.35,novodra,40u - 39u
497,krisztián,bakos,7.75,7.29,0.46,novodra,60u - 60u
498,mustafa,lindström,7.92,7.60,0.32,novodra,35u - 33u
503,nicole,zimmerman,8.98,8.57,0.41,novodra,59u - 56u
504,saidmohmad,rushisvili,7.90,7.48,0.42,novodra,49u - 46u
505,russom,amanuel,7.86,7.40,0.46,novodra,39u - 36u
506,chidalu,onyekaozulu,7.54,7.27,0.27,novodra,42u - 41u
507,asuna,morita,7.58,7.25,0.33,novodra,35u - 39u
508,sandy,gunnarsson,7.97,7.45,0.52,novodra,41u - 44u
522,malina,balagić,7.65,7.30,0.35,novodra,48u - 50u
531,kong,lei,7.58,7.15,0.43,novodra,32u - 30u
532,kajsa,eidem,7.77,7.34,0.43,novodra,41u - 38u
533,tegan,johnson,7.79,7.43,0.36,novodra,34u - 34u
535,leah,wong,7.79,7.42,0.37,novodra,28u - 31u
536,fraser,hunter,7.70,7.42,0.28,novodra,36u - 32u
537,león,reynoso,7.59,7.06,0.53,novodra,38u - 40u
538,bouke,glaser,7.72,7.34,0.38,novodra,26u - 30u
540,martha,afanasyeva,7.81,7.39,0.42,novodra,34u - 41u
541,monika,lončar,9.13,8.72,0.41,novodra,49u - 46u
542,valur,bjarkason,9.71,9.41,0.30,novodra,31u - 36u
544,eufrosina,schiavone,9.00,8.56,0.44,novodra,23u - 23u
547,angelico,marchesi,7.62,7.18,0.44,novodra,58u - 58u
549,novalie,berg,7.85,7.49,0.36,novodra,32u - 31u
551,lena,baer,7.70,7.40,0.30,novodra,41u - 38u
552,martina,tománková,7.83,7.36,0.47,novodra,50u - 57u
553,willem-jan,van der lubbe,7.57,7.20,0.37,novodra,40u - 40u
555,najla,touma,7.66,7.31,0.35,novodra,39u - 44u
556,emy,markus,7.53,7.14,0.39,novodra,29u - 24u
558,katrine,lynge,7.60,7.13,0.47,novodra,43u - 42u
563,cecilie,nilsen,9.63,9.21,0.42,novodra,49u - 50u
565,adib,ghanem,7.59,7.12,0.47,novodra,46u - 49u
566,þórunn,tryggvadóttir,7.98,7.51,0.47,novodra,30u - 32u
568,sirkka,piirainen,8.90,8.59,0.31,novodra,26u - 24u
569,diệt,bùi,9.11,8.76,0.35,novodra,30u - 32u
571,torben,mortensen,7.80,7.40,0.40,novodra,44u - 40u
575,liêm,phan,7.58,7.10,0.48,novodra,43u - 48u
576,daud,batukayev,7.98,7.51,0.47,novodra,37u - 30u
580,eric,ek,7.92,7.47,0.45,novodra,51u - 47u
582,pamela,hill,9.53,9.10,0.43,novodra,27u - 29u
584,haylom,nebay,7.62,7.22,0.40,novodra,42u - 44u
585,eemil,laine,7.89,7.53,0.36,novodra,30u - 29u
588,anja,hueber,8.82,8.36,0.46,novodra,31u - 32u
589,linda,lundy,7.97,7.52,0.45,novodra,48u - 53u
590,rocco,christie,7.96,7.62,0.34,novodra,42u - 40u
591,elisabetta,lorenzo,7.78,7.42,0.36,novodra,28u - 24u
592,fareeq,kalb,7.97,7.59,0.38,novodra,51u - 54u
593,sargent,flamand,7.92,7.49,0.43,novodra,47u - 39u
595,wu,sung,7.61,7.12,0.49,novodra,47u - 48u
599,kang,mai,7.78,7.45,0.33,novodra,39u - 36u
600,chen,yao,7.90,7.51,0.39,novodra,56u - 57u
601,aksel,vestergaard,9.62,9.29,0.33,novodra,42u - 38u
602,ellen,luman,9.27,8.77,0.50,novodra,40u - 39u
604,jose,combs,7.89,7.42,0.47,novodra,39u - 36u
607,mathilde,nørgaard,8.50,8.10,0.40,novodra,27u - 28u
608,csilla,herczegh,7.71,7.27,0.44,novodra,43u - 46u
609,aaliyah,rice,7.64,7.33,0.31,novodra,31u - 31u
610,david,beauvais,7.87,7.47,0.40,novodra,26u - 23u
611,caroline,shuler,7.63,7.27,0.36,novodra,50u - 54u
614,chukwumoge,ogochukwu,7.95,7.56,0.39,novodra,41u - 39u
615,fearne,mcgregor,7.83,7.48,0.35,novodra,27u - 29u
617,leon,scholz,7.72,7.29,0.43,novodra,38u - 32u
618,yasmin,araujo,7.82,7.36,0.46,novodra,51u - 54u
619,hiromu,horikawa,7.77,7.28,0.49,novodra,47u - 46u
621,leo,vieira,7.74,7.36,0.38,novodra,30u - 33u
622,steven,roy,7.87,7.43,0.44,novodra,41u - 43u
626,john,teichelmann,7.90,7.58,0.32,novodra,49u - 49u
633,thể,lương,7.64,7.22,0.42,novodra,61u - 64u
635,meya,sjöberg,7.77,7.42,0.35,novodra,42u - 42u
638,jane,citizen,7.98,7.60,0.38,novodra,37u - 38u
639,angela,lavrentyev,7.61,7.14,0.47,novodra,28u - 24u
640,edelma,villalpando,7.99,7.56,0.43,novodra,24u - 26u
642,annika,vaara,7.73,7.34,0.39,novodra,20u - 21u
644,chiho,higa,7.71,7.30,0.41,novodra,46u - 46u
652,beatrycze,woźniak,7.54,7.17,0.37,novodra,26u - 27u
653,miłosław,wiśniewski,7.51,7.08,0.43,novodra,34u - 33u
656,firenze,fodor,7.89,7.55,0.34,novodra,30u - 35u
657,zoe,wellish,7.71,7.30,0.41,novodra,33u - 33u
658,una,traustadóttir,8.00,7.50,0.50,novodra,35u - 34u
659,luboš,pecha,7.79,7.45,0.34,novodra,30u - 27u
663,meaza,brhane,7.70,7.36,0.34,novodra,37u - 41u
664,adlan,shishani,7.84,7.37,0.47,novodra,43u - 40u
667,sofia,hermansen,8.90,8.57,0.33,novodra,34u - 34u
668,guðni,heimisson,7.64,7.24,0.40,novodra,40u - 36u
670,eufemio,rosario,7.54,7.26,0.28,novodra,37u - 40u
671,dalmacia,madrid,7.67,7.21,0.46,novodra,26u - 23u
672,daimy,tromp,9.41,8.94,0.47,novodra,40u - 45u
674,jeremy,montagu,7.68,7.36,0.32,novodra,52u - 52u
678,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u - 39u
679,satsita,batukayev,7.63,7.25,0.38,novodra,42u - 42u
680,timothy,cotton,7.92,7.52,0.40,novodra,26u - 25u
681,bjørnar,nilsen,7.99,7.70,0.29,novodra,36u - 33u
684,borna,šlezinger,7.55,7.18,0.37,novodra,42u - 41u
685,mary,adams,7.65,7.26,0.39,novodra,32u - 33u
688,christopher,woodward,7.51,7.06,0.45,novodra,55u - 51u
690,maret,sultygov,7.67,7.30,0.37,novodra,26u - 23u
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u - 23u
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u
698,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u

In [142]:
treatments_clean['dose_start'], treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ',1).str

In [143]:
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose,dose_start,dose_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u,31u,38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u - 36u,30u,36u
10,joseph,day,7.70,7.19,0.51,auralin,29u - 36u,29u,36u
12,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u - 38u,29u,38u
14,simone,baumgaertner,7.74,7.30,0.44,auralin,27u - 37u,27u,37u
15,enco,žibrik,7.78,7.34,0.44,auralin,55u - 68u,55u,68u
16,camilla,zaitseva,7.53,7.13,0.40,auralin,28u - 37u,28u,37u
21,tekla,walczak,7.61,7.29,0.32,auralin,29u - 39u,29u,39u
22,brancaleone,russo,8.61,8.18,0.43,auralin,53u - 60u,53u,60u
24,isac,berg,9.68,9.29,0.39,auralin,31u - 41u,31u,41u
28,clinton,miller,7.79,7.40,0.39,auralin,42u - 51u,42u,51u
29,eugene,mironov,7.81,7.48,0.33,auralin,42u - 49u,42u,49u
30,szilveszter,totth,7.70,7.38,0.32,auralin,35u - 39u,35u,39u
34,alexander,mathiesen,7.96,7.55,0.41,auralin,47u - 58u,47u,58u
36,chỉ,lâm,7.68,7.24,0.44,auralin,45u - 48u,45u,48u
37,władysław,wieczorek,7.92,7.47,0.45,auralin,24u - 37u,24u,37u
38,kristján,ingason,7.92,7.57,0.35,auralin,44u - 55u,44u,55u
42,marija,grubišić,7.53,7.15,0.38,auralin,37u - 43u,37u,43u
44,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u - 47u,43u,47u
46,mariana,souza,7.86,7.51,0.35,auralin,36u - 42u,36u,42u
51,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u - 37u,29u,37u
52,mỹ,quynh,7.61,7.16,0.45,auralin,57u - 64u,57u,64u
54,oles,zhdanov,7.52,7.11,0.41,auralin,54u - 67u,54u,67u
55,triana.,terrazas,7.71,7.34,0.37,auralin,34u - 42u,34u,42u
58,gabryŝ,tomaszewski,7.87,7.47,0.40,auralin,29u - 37u,29u,37u
59,leixandre,alanis,7.74,7.32,0.42,auralin,61u - 67u,61u,67u
60,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u - 46u,37u,46u
61,mijndert,ouwendijk,7.81,7.50,0.31,auralin,30u - 39u,30u,39u
63,coralie,allaire,7.63,7.30,0.33,auralin,39u - 46u,39u,46u
64,cumelén,miramontes,7.71,7.33,0.38,auralin,24u - 32u,24u,32u
66,louise,johnson,7.63,7.32,0.31,auralin,32u - 42u,32u,42u
69,ivan,fomin,9.12,8.73,0.39,auralin,25u - 32u,25u,32u
73,mette,sandgreen,7.56,7.08,0.48,auralin,36u - 46u,36u,46u
78,julia,werner,7.58,7.24,0.34,auralin,35u - 40u,35u,40u
79,avdei,tikhonov,7.77,7.27,0.50,auralin,27u - 36u,27u,36u
81,robert,wagner,9.84,9.52,0.32,auralin,43u - 49u,43u,49u
82,maya,isaksson,7.66,7.17,0.49,auralin,33u - 41u,33u,41u
84,furuta,osman,7.52,7.18,0.34,auralin,30u - 41u,30u,41u
85,nilton,quintanilla,7.86,7.48,0.38,auralin,42u - 49u,42u,49u
87,finley,chandler,7.65,7.26,0.39,auralin,31u - 45u,31u,45u
89,stefanie,herman,7.72,7.30,0.42,auralin,44u - 55u,44u,55u
90,karen,jakobsen,7.59,7.25,0.34,auralin,34u - 42u,34u,42u
95,jaakko,eskelinen,7.73,7.42,0.31,auralin,39u - 45u,39u,45u
98,idalia,moore,8.34,7.90,0.44,auralin,25u - 31u,25u,31u
104,renzo,lucchese,7.54,7.17,0.37,auralin,53u - 64u,53u,64u
109,marius,hansen,7.97,7.53,0.44,auralin,41u - 47u,41u,47u
112,olof,holm,7.85,7.43,0.42,auralin,39u - 52u,39u,52u
113,kari,laatikainen,7.50,7.11,0.39,auralin,39u - 43u,39u,43u
115,xiuxiu,chang,7.64,7.23,0.41,auralin,32u - 41u,32u,41u
116,yasmin,silva,8.88,8.46,0.42,auralin,36u - 44u,36u,44u
118,burrell,mathieu,8.71,8.39,0.32,auralin,46u - 58u,46u,58u
119,liisa,seppälä,7.87,7.51,0.36,auralin,36u - 47u,36u,47u
120,zikoranaudodimma,chinedum,8.19,7.83,0.36,auralin,41u - 51u,41u,51u
121,habte,kifle,7.59,7.13,0.46,auralin,42u - 48u,42u,48u
122,rafael,costa,7.73,7.34,0.39,auralin,50u - 60u,50u,60u
125,marcel,peters,9.56,9.19,0.37,auralin,48u - 60u,48u,60u
129,kaodilinakachukwu,nnonso,7.76,7.40,0.36,auralin,63u - 68u,63u,68u
132,urso,aranda,7.60,7.16,0.44,auralin,30u - 38u,30u,38u
135,rut,halldórsdóttir,9.01,8.63,0.38,auralin,31u - 40u,31u,40u
136,joseph,day,7.70,7.19,0.51,auralin,29u - 36u,29u,36u
139,barbora,vesecká,7.90,7.46,0.44,auralin,29u - 45u,29u,45u
141,johana,hrdá,7.79,7.49,0.30,auralin,54u - 54u,54u,54u
143,nora,nyborg,7.83,7.48,0.35,auralin,55u - 59u,55u,59u
144,nicoline,østergaard,7.84,7.57,0.27,auralin,24u - 32u,24u,32u
145,ruman,bisliev,7.72,7.39,0.33,auralin,46u - 53u,46u,53u
146,hanna-mari,filatov,7.71,7.30,0.41,auralin,55u - 61u,55u,61u
149,muhammad,holden,7.55,7.09,0.46,auralin,29u - 37u,29u,37u
150,manuela,cindrić,8.07,7.76,0.31,auralin,55u - 66u,55u,66u
151,nile,mehari,9.25,8.79,0.46,auralin,40u - 53u,40u,53u
152,lewis,webb,7.85,7.52,0.33,auralin,39u - 44u,39u,44u
159,yunadi,barsukov,9.47,9.05,0.42,auralin,48u - 58u,48u,58u
160,harley,tucker,7.97,7.64,0.33,auralin,47u - 57u,47u,57u
161,rebecca,priest,7.87,7.57,0.30,auralin,40u - 42u,40u,42u
162,helen,luwam,7.66,7.19,0.47,auralin,32u - 42u,32u,42u
163,malik,vaneker,7.55,7.12,0.43,auralin,44u - 54u,44u,54u
164,felicijan,bubanj,7.85,7.50,0.35,auralin,62u - 75u,62u,75u
165,jeramy,hopkins,8.02,7.67,0.35,auralin,37u - 46u,37u,46u
166,annie,allen,9.95,9.58,0.37,auralin,36u - 42u,36u,42u
167,lamara,dratchev,7.75,7.40,0.35,auralin,49u - 58u,49u,58u
168,nadwah,naifeh,7.97,7.52,0.45,auralin,44u - 53u,44u,53u
169,benigna,ferrari,7.78,7.36,0.42,auralin,41u - 52u,41u,52u
170,sun,ko,7.59,7.23,0.36,auralin,33u - 39u,33u,39u
171,justyna,kowalczyk,9.84,9.44,0.40,auralin,24u - 34u,24u,34u
173,gabriele,saenger,8.35,7.97,0.38,auralin,22u - 30u,22u,30u
174,mustafa,adonay,7.79,7.34,0.45,auralin,58u - 69u,58u,69u
175,marina,glockner,7.88,7.55,0.33,auralin,35u - 45u,35u,45u
176,andré,nordin,7.60,7.27,0.33,auralin,40u - 47u,40u,47u
177,samuel,blix,7.97,7.56,0.41,auralin,48u - 55u,48u,55u
178,kerman,dandonneau,7.82,7.28,0.54,auralin,41u - 50u,41u,50u
179,jan,baum,7.57,7.19,0.38,auralin,53u - 57u,53u,57u
180,merci,leroux,8.98,8.64,0.34,auralin,27u - 33u,27u,33u
184,chân,bùi,7.53,7.18,0.35,auralin,31u - 42u,31u,42u
189,mee,chung,7.56,7.20,0.36,auralin,42u - 56u,42u,56u
193,svanhvít,guðjónsdóttir,7.57,7.11,0.46,auralin,37u - 44u,37u,44u
195,minea,lindgren,9.45,8.94,0.51,auralin,38u - 45u,38u,45u
196,peter,pospíšil,7.76,7.34,0.42,auralin,51u - 60u,51u,60u
198,amalie,christensen,7.88,7.55,0.33,auralin,38u - 45u,38u,45u
200,nicolas,ferreira,7.99,7.72,0.27,auralin,43u - 51u,43u,51u
204,maximus,henzen,7.79,7.34,0.45,auralin,49u - 55u,49u,55u
207,jin,kung,7.80,7.50,0.30,auralin,55u - 60u,55u,60u
209,kári,hervinsson,8.09,7.66,0.43,auralin,37u - 43u,37u,43u
210,vanessa,ferguson,7.97,7.58,0.39,auralin,39u - 50u,39u,50u
211,nương,vũ,7.68,7.29,0.39,auralin,31u - 38u,31u,38u
212,alexander,hueber,7.71,7.35,0.36,auralin,35u - 38u,35u,38u
214,erick,pinto,7.88,7.49,0.39,auralin,44u - 54u,44u,54u
217,taylah,mobourne,7.90,7.51,0.39,auralin,41u - 50u,41u,50u
220,sinead,reilly,7.76,7.39,0.37,auralin,27u - 39u,27u,39u
222,veronica,bogolyubova,7.69,7.31,0.38,auralin,25u - 35u,25u,35u
223,anenechi,chidi,7.64,7.31,0.33,auralin,52u - 61u,52u,61u
224,cintia,csorba,8.49,8.00,0.49,auralin,47u - 50u,47u,50u
227,erica,macdonald,7.55,7.26,0.29,auralin,33u - 39u,33u,39u
228,hawra',tuma,7.93,7.56,0.37,auralin,26u - 35u,26u,35u
229,sandra,taylor,7.84,7.49,0.35,auralin,51u - 58u,51u,58u
231,kisanet,selassie,9.64,9.27,0.37,auralin,48u - 59u,48u,59u
233,arne,jørgensen,9.65,9.31,0.34,auralin,32u - 43u,32u,43u
236,hường,lâm,7.66,7.29,0.37,auralin,40u - 49u,40u,49u
237,manouck,wubbels,7.66,7.40,0.26,auralin,55u - 62u,55u,62u
244,angel,grant,7.93,7.47,0.46,auralin,31u - 37u,31u,37u
246,tomáš,navrátil,7.84,7.41,0.43,auralin,24u - 36u,24u,36u
247,johanna,dreher,7.77,7.34,0.43,auralin,51u - 59u,51u,59u
248,brianna,lansell,9.48,9.06,0.42,auralin,39u - 47u,39u,47u
253,albino,schiavone,7.56,7.15,0.41,auralin,35u - 43u,35u,43u
255,jia li,teng,7.66,7.32,0.34,auralin,48u - 54u,48u,54u
256,ilija,horvat,7.77,7.38,0.39,auralin,42u - 50u,42u,50u
262,alex,crawford,7.69,7.30,0.39,auralin,51u - 62u,51u,62u
263,rebecca,jephcott,7.96,7.57,0.39,auralin,53u - 63u,53u,63u
266,ursula,freud,7.75,7.46,0.29,auralin,42u - 54u,42u,54u
270,mika,martinsson,7.50,7.17,0.33,auralin,34u - 43u,34u,43u
273,kate,wilkinson,7.72,7.20,0.52,auralin,36u - 39u,36u,39u
274,naja,enoksen,7.98,7.59,0.39,auralin,43u - 50u,43u,50u
275,albina,zetticci,7.93,7.73,0.20,auralin,45u - 51u,45u,51u
277,mathea,lillebø,9.04,8.67,0.37,auralin,23u - 36u,23u,36u
278,vallie,prince,7.64,7.28,0.36,auralin,31u - 38u,31u,38u
279,samúel,guðbrandsson,8.00,7.64,0.36,auralin,53u - 56u,53u,56u
280,jožka,resanovič,7.56,7.22,0.34,auralin,22u - 30u,22u,30u
281,inunnguaq,heilmann,7.85,7.45,0.40,auralin,57u - 67u,57u,67u
282,alwin,svensson,7.78,7.34,0.44,auralin,36u - 39u,36u,39u
284,amanda,ribeiro,7.85,7.47,0.38,auralin,36u - 44u,36u,44u
286,sara,miles,7.53,7.12,0.41,auralin,30u - 35u,30u,35u
287,frydryk,adamski,7.75,7.27,0.48,auralin,63u - 74u,63u,74u
291,gabriela,michalčíková,8.37,7.97,0.40,auralin,26u - 36u,26u,36u
293,bernarda,cindrić,7.89,7.55,0.34,auralin,40u - 49u,40u,49u
295,dani,antoun,7.73,7.34,0.39,auralin,36u - 44u,36u,44u
296,mijael,guerra,7.85,7.46,0.39,auralin,37u - 47u,37u,47u
297,emma,barlow,7.85,7.39,0.46,auralin,48u - 57u,48u,57u
298,flavia,fiorentino,7.95,7.60,0.35,auralin,46u - 57u,46u,57u
299,noe,aranda,7.51,7.17,0.34,auralin,26u - 34u,26u,34u
300,seweryna,czerwinska,7.66,7.30,0.36,auralin,39u - 46u,39u,46u
301,david,villadsen,7.86,7.40,0.46,auralin,26u - 39u,26u,39u
304,lóa,hrafnsdóttir,7.60,7.09,0.51,auralin,22u - 31u,22u,31u
305,siebrigje,koldenhof,7.90,7.59,0.31,auralin,30u - 38u,30u,38u
310,trifon,izmailov,7.68,7.28,0.40,auralin,58u - 63u,58u,63u
311,galit,casárez,7.91,7.56,0.35,auralin,27u - 37u,27u,37u
312,kifle,mustafa,7.80,7.41,0.39,auralin,42u - 50u,42u,50u
315,alvin,jackson,7.62,7.23,0.39,auralin,38u - 43u,38u,43u
316,chibuzo,okoli,7.64,7.29,0.35,auralin,28u - 33u,28u,33u
319,maryam,dratchev,9.91,9.46,0.45,auralin,37u - 45u,37u,45u
323,hans peter,radislav,7.60,7.20,0.40,auralin,42u - 53u,42u,53u
325,štefanija,novosel,7.64,7.17,0.47,auralin,37u - 42u,37u,42u
326,anja,mueller,7.58,7.29,0.29,auralin,43u - 56u,43u,56u
327,regolo,nucci,7.53,7.02,0.51,auralin,51u - 59u,51u,59u
332,vivien,zsinkó,8.35,7.92,0.43,auralin,30u - 38u,30u,38u
333,genet,fesahaye,7.73,7.36,0.37,auralin,25u - 35u,25u,35u
336,blanka,jurković,7.77,7.33,0.44,auralin,31u - 43u,31u,43u
337,joseph,tucker,7.67,7.30,0.37,auralin,48u - 56u,48u,56u
339,robert,maslov,7.65,7.35,0.30,auralin,55u - 68u,55u,68u
341,ella,lund,7.57,7.21,0.36,auralin,38u - 47u,38u,47u
342,fakhri,fakhoury,7.83,7.39,0.44,auralin,39u - 50u,39u,50u
343,žarka,rap,7.54,7.15,0.39,auralin,35u - 48u,35u,48u
345,rovzan,kishiev,7.75,7.41,0.34,auralin,32u - 37u,32u,37u
347,bernd,schneider,7.74,7.44,0.30,auralin,48u - 56u,48u,56u
349,armina,sauvé,7.86,7.40,0.46,auralin,36u - 46u,36u,46u
351,elliot,richardson,7.56,7.09,0.47,novodra,40u - 45u,40u,45u
352,yukitaka,takenaka,7.68,7.25,0.43,novodra,39u - 36u,39u,36u
354,alissa,montez,7.78,7.46,0.32,novodra,33u - 29u,33u,29u
355,jasmine,sykes,7.56,7.18,0.38,novodra,42u - 44u,42u,44u
358,saber,ménard,8.08,7.70,0.38,novodra,54u - 54u,54u,54u
361,kristiina,hyypiä,7.87,7.49,0.38,novodra,36u - 38u,36u,38u
363,gregor,bole,7.61,7.16,0.45,novodra,47u - 45u,47u,45u
367,gina,cain,7.88,7.40,0.48,novodra,36u - 36u,36u,36u
368,addolorata,lombardi,7.75,7.33,0.42,novodra,49u - 46u,49u,46u
369,khalid,johnsrud,8.35,7.94,0.41,novodra,54u - 54u,54u,54u
370,mile,stanić,7.66,7.24,0.42,novodra,47u - 48u,47u,48u
373,chiemela,tobeolisa,7.59,7.17,0.42,novodra,43u - 47u,43u,47u
375,benoît,bonami,9.82,9.40,0.42,novodra,44u - 43u,44u,43u
376,suhaim,rahal,7.94,7.50,0.44,novodra,49u - 47u,49u,47u
377,mizuki,iwata,7.70,7.23,0.47,novodra,45u - 46u,45u,46u
381,bao,she,9.09,8.62,0.47,novodra,48u - 45u,48u,45u
382,laura,ehrlichmann,7.95,7.46,0.49,novodra,43u - 40u,43u,40u
383,cannan,cabrera,7.94,7.58,0.36,novodra,40u - 31u,40u,31u
385,csaba,sági,7.88,7.48,0.40,novodra,35u - 29u,35u,29u
389,krisztina,magyar,7.52,7.01,0.51,novodra,32u - 27u,32u,27u
390,ásta,grímsdóttir,7.62,7.16,0.46,novodra,29u - 30u,29u,30u
391,mahmud,kadyrov,7.53,7.11,0.42,novodra,44u - 43u,44u,43u
393,jens,poulsen,7.55,7.16,0.39,novodra,36u - 32u,36u,32u
395,zdeněk,synek,7.67,7.32,0.35,novodra,31u - 31u,31u,31u
397,jad allah,gaber,7.97,7.52,0.45,novodra,38u - 41u,38u,41u
398,zak,kelly,7.66,7.26,0.40,novodra,38u - 38u,38u,38u
399,jackson,addison,7.99,7.51,0.48,novodra,42u - 42u,42u,42u
400,albinca,komavec,7.89,7.46,0.43,novodra,41u - 39u,41u,39u
403,nasser,mansour,7.51,7.06,0.45,novodra,33u - 31u,33u,31u
406,juliusz,majewski,7.78,7.31,0.47,novodra,41u - 39u,41u,39u
407,klementyna,sokołowska,7.98,7.53,0.45,novodra,42u - 41u,42u,41u
412,hanka,gegič,7.67,7.29,0.38,novodra,19u - 27u,19u,27u
415,elisabeth,dimmen,7.60,7.28,0.32,novodra,41u - 36u,41u,36u
417,joe,edwards,9.35,8.89,0.46,novodra,36u - 37u,36u,37u
418,fatimah,kinfe,7.88,7.56,0.32,novodra,43u - 42u,43u,42u
420,tosh,jensen,7.93,7.69,0.24,novodra,51u - 48u,51u,48u
421,hugo,collins,8.00,7.53,0.47,novodra,53u - 55u,53u,55u
422,gabrielle,bidwill,7.76,7.37,0.39,novodra,44u - 49u,44u,49u
424,ole,petersen,7.95,7.55,0.40,novodra,29u - 32u,29u,32u
425,mackenzie,mckay,9.87,9.48,0.39,novodra,44u - 43u,44u,43u
426,noriyuki,sakai,7.58,7.16,0.42,novodra,32u - 31u,32u,31u
427,placido,udinesi,7.91,7.49,0.42,novodra,38u - 41u,38u,41u
430,hideki,haraguchi,7.59,7.05,0.54,novodra,37u - 35u,37u,35u
433,else,andersen,7.98,7.60,0.38,novodra,36u - 38u,36u,38u
436,ananías,enríquez,7.58,7.07,0.51,novodra,44u - 45u,44u,45u
438,yumena,nakayama,7.76,7.35,0.41,novodra,34u - 32u,34u,32u
441,michael,kristensen,8.51,8.08,0.43,novodra,40u - 39u,40u,39u
442,sousuke,nakahara,7.91,7.49,0.42,novodra,37u - 35u,37u,35u
443,melisa,mata,8.56,8.27,0.29,novodra,57u - 57u,57u,57u
444,kwasi,mensa,8.29,7.89,0.40,novodra,40u - 36u,40u,36u
446,abdul-nur,isa,7.98,7.53,0.45,novodra,54u - 50u,54u,50u
447,niels,lange,7.58,7.21,0.37,novodra,43u - 38u,43u,38u
449,abel,yonatan,7.88,7.50,0.38,novodra,38u - 39u,38u,39u
450,kai,cunha,7.81,7.42,0.39,novodra,37u - 36u,37u,36u
451,markus,solberg,7.95,7.57,0.38,novodra,35u - 30u,35u,30u
452,bội,tạ,7.73,7.32,0.41,novodra,41u - 40u,41u,40u
453,søren,frederiksen,7.71,7.31,0.40,novodra,56u - 58u,56u,58u
455,finlay,sheppard,7.51,7.17,0.34,novodra,31u - 30u,31u,30u
456,sofia,karlsen,7.62,7.15,0.47,novodra,35u - 29u,35u,29u
457,flaviano,endrizzi,7.93,7.56,0.37,novodra,46u - 43u,46u,43u
458,mùi,lương,7.74,7.32,0.42,novodra,52u - 50u,52u,50u
460,suoma,koivunen,7.59,7.13,0.46,novodra,26u - 25u,26u,25u
461,mevla,grabljevec,7.72,7.44,0.28,novodra,51u - 55u,51u,55u
464,sabr,amari,7.94,7.57,0.37,novodra,32u - 27u,32u,27u
467,javier,moquin,8.00,7.59,0.41,novodra,30u - 32u,30u,32u
473,mgbankwo,afamefuna,7.55,7.18,0.37,novodra,36u - 37u,36u,37u
474,nate,bowden,9.81,9.30,0.51,novodra,48u - 47u,48u,47u
476,jowita,wiśniewska,7.50,7.08,0.42,novodra,22u - 23u,22u,23u
477,farizah,sleiman,7.80,7.40,0.40,novodra,50u - 50u,50u,50u
478,david,gustafsson,7.72,7.28,0.44,novodra,33u - 34u,33u,34u
480,kamila,pecinová,7.77,7.39,0.38,novodra,54u - 51u,54u,51u
481,søren,sørensen,7.93,7.59,0.34,novodra,41u - 39u,41u,39u
483,vasco,van de wiel,7.94,7.51,0.43,novodra,31u - 29u,31u,29u
484,kwemtochukwu,ogochukwu,7.86,7.53,0.33,novodra,34u - 37u,34u,37u
487,ivona,jakšić,7.98,7.54,0.44,novodra,41u - 41u,41u,41u
488,giovana,rocha,7.87,7.38,0.49,novodra,23u - 21u,23u,21u
490,jesse,luoma,7.72,7.35,0.37,novodra,39u - 37u,39u,37u
492,stephen,mayberry,7.82,7.47,0.35,novodra,40u - 39u,40u,39u
497,krisztián,bakos,7.75,7.29,0.46,novodra,60u - 60u,60u,60u
498,mustafa,lindström,7.92,7.60,0.32,novodra,35u - 33u,35u,33u
503,nicole,zimmerman,8.98,8.57,0.41,novodra,59u - 56u,59u,56u
504,saidmohmad,rushisvili,7.90,7.48,0.42,novodra,49u - 46u,49u,46u
505,russom,amanuel,7.86,7.40,0.46,novodra,39u - 36u,39u,36u
506,chidalu,onyekaozulu,7.54,7.27,0.27,novodra,42u - 41u,42u,41u
507,asuna,morita,7.58,7.25,0.33,novodra,35u - 39u,35u,39u
508,sandy,gunnarsson,7.97,7.45,0.52,novodra,41u - 44u,41u,44u
522,malina,balagić,7.65,7.30,0.35,novodra,48u - 50u,48u,50u
531,kong,lei,7.58,7.15,0.43,novodra,32u - 30u,32u,30u
532,kajsa,eidem,7.77,7.34,0.43,novodra,41u - 38u,41u,38u
533,tegan,johnson,7.79,7.43,0.36,novodra,34u - 34u,34u,34u
535,leah,wong,7.79,7.42,0.37,novodra,28u - 31u,28u,31u
536,fraser,hunter,7.70,7.42,0.28,novodra,36u - 32u,36u,32u
537,león,reynoso,7.59,7.06,0.53,novodra,38u - 40u,38u,40u
538,bouke,glaser,7.72,7.34,0.38,novodra,26u - 30u,26u,30u
540,martha,afanasyeva,7.81,7.39,0.42,novodra,34u - 41u,34u,41u
541,monika,lončar,9.13,8.72,0.41,novodra,49u - 46u,49u,46u
542,valur,bjarkason,9.71,9.41,0.30,novodra,31u - 36u,31u,36u
544,eufrosina,schiavone,9.00,8.56,0.44,novodra,23u - 23u,23u,23u
547,angelico,marchesi,7.62,7.18,0.44,novodra,58u - 58u,58u,58u
549,novalie,berg,7.85,7.49,0.36,novodra,32u - 31u,32u,31u
551,lena,baer,7.70,7.40,0.30,novodra,41u - 38u,41u,38u
552,martina,tománková,7.83,7.36,0.47,novodra,50u - 57u,50u,57u
553,willem-jan,van der lubbe,7.57,7.20,0.37,novodra,40u - 40u,40u,40u
555,najla,touma,7.66,7.31,0.35,novodra,39u - 44u,39u,44u
556,emy,markus,7.53,7.14,0.39,novodra,29u - 24u,29u,24u
558,katrine,lynge,7.60,7.13,0.47,novodra,43u - 42u,43u,42u
563,cecilie,nilsen,9.63,9.21,0.42,novodra,49u - 50u,49u,50u
565,adib,ghanem,7.59,7.12,0.47,novodra,46u - 49u,46u,49u
566,þórunn,tryggvadóttir,7.98,7.51,0.47,novodra,30u - 32u,30u,32u
568,sirkka,piirainen,8.90,8.59,0.31,novodra,26u - 24u,26u,24u
569,diệt,bùi,9.11,8.76,0.35,novodra,30u - 32u,30u,32u
571,torben,mortensen,7.80,7.40,0.40,novodra,44u - 40u,44u,40u
575,liêm,phan,7.58,7.10,0.48,novodra,43u - 48u,43u,48u
576,daud,batukayev,7.98,7.51,0.47,novodra,37u - 30u,37u,30u
580,eric,ek,7.92,7.47,0.45,novodra,51u - 47u,51u,47u
582,pamela,hill,9.53,9.10,0.43,novodra,27u - 29u,27u,29u
584,haylom,nebay,7.62,7.22,0.40,novodra,42u - 44u,42u,44u
585,eemil,laine,7.89,7.53,0.36,novodra,30u - 29u,30u,29u
588,anja,hueber,8.82,8.36,0.46,novodra,31u - 32u,31u,32u
589,linda,lundy,7.97,7.52,0.45,novodra,48u - 53u,48u,53u
590,rocco,christie,7.96,7.62,0.34,novodra,42u - 40u,42u,40u
591,elisabetta,lorenzo,7.78,7.42,0.36,novodra,28u - 24u,28u,24u
592,fareeq,kalb,7.97,7.59,0.38,novodra,51u - 54u,51u,54u
593,sargent,flamand,7.92,7.49,0.43,novodra,47u - 39u,47u,39u
595,wu,sung,7.61,7.12,0.49,novodra,47u - 48u,47u,48u
599,kang,mai,7.78,7.45,0.33,novodra,39u - 36u,39u,36u
600,chen,yao,7.90,7.51,0.39,novodra,56u - 57u,56u,57u
601,aksel,vestergaard,9.62,9.29,0.33,novodra,42u - 38u,42u,38u
602,ellen,luman,9.27,8.77,0.50,novodra,40u - 39u,40u,39u
604,jose,combs,7.89,7.42,0.47,novodra,39u - 36u,39u,36u
607,mathilde,nørgaard,8.50,8.10,0.40,novodra,27u - 28u,27u,28u
608,csilla,herczegh,7.71,7.27,0.44,novodra,43u - 46u,43u,46u
609,aaliyah,rice,7.64,7.33,0.31,novodra,31u - 31u,31u,31u
610,david,beauvais,7.87,7.47,0.40,novodra,26u - 23u,26u,23u
611,caroline,shuler,7.63,7.27,0.36,novodra,50u - 54u,50u,54u
614,chukwumoge,ogochukwu,7.95,7.56,0.39,novodra,41u - 39u,41u,39u
615,fearne,mcgregor,7.83,7.48,0.35,novodra,27u - 29u,27u,29u
617,leon,scholz,7.72,7.29,0.43,novodra,38u - 32u,38u,32u
618,yasmin,araujo,7.82,7.36,0.46,novodra,51u - 54u,51u,54u
619,hiromu,horikawa,7.77,7.28,0.49,novodra,47u - 46u,47u,46u
621,leo,vieira,7.74,7.36,0.38,novodra,30u - 33u,30u,33u
622,steven,roy,7.87,7.43,0.44,novodra,41u - 43u,41u,43u
626,john,teichelmann,7.90,7.58,0.32,novodra,49u - 49u,49u,49u
633,thể,lương,7.64,7.22,0.42,novodra,61u - 64u,61u,64u
635,meya,sjöberg,7.77,7.42,0.35,novodra,42u - 42u,42u,42u
638,jane,citizen,7.98,7.60,0.38,novodra,37u - 38u,37u,38u
639,angela,lavrentyev,7.61,7.14,0.47,novodra,28u - 24u,28u,24u
640,edelma,villalpando,7.99,7.56,0.43,novodra,24u - 26u,24u,26u
642,annika,vaara,7.73,7.34,0.39,novodra,20u - 21u,20u,21u
644,chiho,higa,7.71,7.30,0.41,novodra,46u - 46u,46u,46u
652,beatrycze,woźniak,7.54,7.17,0.37,novodra,26u - 27u,26u,27u
653,miłosław,wiśniewski,7.51,7.08,0.43,novodra,34u - 33u,34u,33u
656,firenze,fodor,7.89,7.55,0.34,novodra,30u - 35u,30u,35u
657,zoe,wellish,7.71,7.30,0.41,novodra,33u - 33u,33u,33u
658,una,traustadóttir,8.00,7.50,0.50,novodra,35u - 34u,35u,34u
659,luboš,pecha,7.79,7.45,0.34,novodra,30u - 27u,30u,27u
663,meaza,brhane,7.70,7.36,0.34,novodra,37u - 41u,37u,41u
664,adlan,shishani,7.84,7.37,0.47,novodra,43u - 40u,43u,40u

In [109]:
treatments_clean = treatments_clean.drop('dose', axis=1)

In [110]:
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u,38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u,36u
10,joseph,day,7.70,7.19,0.51,auralin,29u,36u
12,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u,38u
14,simone,baumgaertner,7.74,7.30,0.44,auralin,27u,37u
15,enco,žibrik,7.78,7.34,0.44,auralin,55u,68u
16,camilla,zaitseva,7.53,7.13,0.40,auralin,28u,37u
21,tekla,walczak,7.61,7.29,0.32,auralin,29u,39u
22,brancaleone,russo,8.61,8.18,0.43,auralin,53u,60u
24,isac,berg,9.68,9.29,0.39,auralin,31u,41u
28,clinton,miller,7.79,7.40,0.39,auralin,42u,51u
29,eugene,mironov,7.81,7.48,0.33,auralin,42u,49u
30,szilveszter,totth,7.70,7.38,0.32,auralin,35u,39u
34,alexander,mathiesen,7.96,7.55,0.41,auralin,47u,58u
36,chỉ,lâm,7.68,7.24,0.44,auralin,45u,48u
37,władysław,wieczorek,7.92,7.47,0.45,auralin,24u,37u
38,kristján,ingason,7.92,7.57,0.35,auralin,44u,55u
42,marija,grubišić,7.53,7.15,0.38,auralin,37u,43u
44,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u,47u
46,mariana,souza,7.86,7.51,0.35,auralin,36u,42u
51,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u,37u
52,mỹ,quynh,7.61,7.16,0.45,auralin,57u,64u
54,oles,zhdanov,7.52,7.11,0.41,auralin,54u,67u
55,triana.,terrazas,7.71,7.34,0.37,auralin,34u,42u
58,gabryŝ,tomaszewski,7.87,7.47,0.40,auralin,29u,37u
59,leixandre,alanis,7.74,7.32,0.42,auralin,61u,67u
60,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u,46u
61,mijndert,ouwendijk,7.81,7.50,0.31,auralin,30u,39u
63,coralie,allaire,7.63,7.30,0.33,auralin,39u,46u
64,cumelén,miramontes,7.71,7.33,0.38,auralin,24u,32u
66,louise,johnson,7.63,7.32,0.31,auralin,32u,42u
69,ivan,fomin,9.12,8.73,0.39,auralin,25u,32u
73,mette,sandgreen,7.56,7.08,0.48,auralin,36u,46u
78,julia,werner,7.58,7.24,0.34,auralin,35u,40u
79,avdei,tikhonov,7.77,7.27,0.50,auralin,27u,36u
81,robert,wagner,9.84,9.52,0.32,auralin,43u,49u
82,maya,isaksson,7.66,7.17,0.49,auralin,33u,41u
84,furuta,osman,7.52,7.18,0.34,auralin,30u,41u
85,nilton,quintanilla,7.86,7.48,0.38,auralin,42u,49u
87,finley,chandler,7.65,7.26,0.39,auralin,31u,45u
89,stefanie,herman,7.72,7.30,0.42,auralin,44u,55u
90,karen,jakobsen,7.59,7.25,0.34,auralin,34u,42u
95,jaakko,eskelinen,7.73,7.42,0.31,auralin,39u,45u
98,idalia,moore,8.34,7.90,0.44,auralin,25u,31u
104,renzo,lucchese,7.54,7.17,0.37,auralin,53u,64u
109,marius,hansen,7.97,7.53,0.44,auralin,41u,47u
112,olof,holm,7.85,7.43,0.42,auralin,39u,52u
113,kari,laatikainen,7.50,7.11,0.39,auralin,39u,43u
115,xiuxiu,chang,7.64,7.23,0.41,auralin,32u,41u
116,yasmin,silva,8.88,8.46,0.42,auralin,36u,44u
118,burrell,mathieu,8.71,8.39,0.32,auralin,46u,58u
119,liisa,seppälä,7.87,7.51,0.36,auralin,36u,47u
120,zikoranaudodimma,chinedum,8.19,7.83,0.36,auralin,41u,51u
121,habte,kifle,7.59,7.13,0.46,auralin,42u,48u
122,rafael,costa,7.73,7.34,0.39,auralin,50u,60u
125,marcel,peters,9.56,9.19,0.37,auralin,48u,60u
129,kaodilinakachukwu,nnonso,7.76,7.40,0.36,auralin,63u,68u
132,urso,aranda,7.60,7.16,0.44,auralin,30u,38u
135,rut,halldórsdóttir,9.01,8.63,0.38,auralin,31u,40u
136,joseph,day,7.70,7.19,0.51,auralin,29u,36u
139,barbora,vesecká,7.90,7.46,0.44,auralin,29u,45u
141,johana,hrdá,7.79,7.49,0.30,auralin,54u,54u
143,nora,nyborg,7.83,7.48,0.35,auralin,55u,59u
144,nicoline,østergaard,7.84,7.57,0.27,auralin,24u,32u
145,ruman,bisliev,7.72,7.39,0.33,auralin,46u,53u
146,hanna-mari,filatov,7.71,7.30,0.41,auralin,55u,61u
149,muhammad,holden,7.55,7.09,0.46,auralin,29u,37u
150,manuela,cindrić,8.07,7.76,0.31,auralin,55u,66u
151,nile,mehari,9.25,8.79,0.46,auralin,40u,53u
152,lewis,webb,7.85,7.52,0.33,auralin,39u,44u
159,yunadi,barsukov,9.47,9.05,0.42,auralin,48u,58u
160,harley,tucker,7.97,7.64,0.33,auralin,47u,57u
161,rebecca,priest,7.87,7.57,0.30,auralin,40u,42u
162,helen,luwam,7.66,7.19,0.47,auralin,32u,42u
163,malik,vaneker,7.55,7.12,0.43,auralin,44u,54u
164,felicijan,bubanj,7.85,7.50,0.35,auralin,62u,75u
165,jeramy,hopkins,8.02,7.67,0.35,auralin,37u,46u
166,annie,allen,9.95,9.58,0.37,auralin,36u,42u
167,lamara,dratchev,7.75,7.40,0.35,auralin,49u,58u
168,nadwah,naifeh,7.97,7.52,0.45,auralin,44u,53u
169,benigna,ferrari,7.78,7.36,0.42,auralin,41u,52u
170,sun,ko,7.59,7.23,0.36,auralin,33u,39u
171,justyna,kowalczyk,9.84,9.44,0.40,auralin,24u,34u
173,gabriele,saenger,8.35,7.97,0.38,auralin,22u,30u
174,mustafa,adonay,7.79,7.34,0.45,auralin,58u,69u
175,marina,glockner,7.88,7.55,0.33,auralin,35u,45u
176,andré,nordin,7.60,7.27,0.33,auralin,40u,47u
177,samuel,blix,7.97,7.56,0.41,auralin,48u,55u
178,kerman,dandonneau,7.82,7.28,0.54,auralin,41u,50u
179,jan,baum,7.57,7.19,0.38,auralin,53u,57u
180,merci,leroux,8.98,8.64,0.34,auralin,27u,33u
184,chân,bùi,7.53,7.18,0.35,auralin,31u,42u
189,mee,chung,7.56,7.20,0.36,auralin,42u,56u
193,svanhvít,guðjónsdóttir,7.57,7.11,0.46,auralin,37u,44u
195,minea,lindgren,9.45,8.94,0.51,auralin,38u,45u
196,peter,pospíšil,7.76,7.34,0.42,auralin,51u,60u
198,amalie,christensen,7.88,7.55,0.33,auralin,38u,45u
200,nicolas,ferreira,7.99,7.72,0.27,auralin,43u,51u
204,maximus,henzen,7.79,7.34,0.45,auralin,49u,55u
207,jin,kung,7.80,7.50,0.30,auralin,55u,60u
209,kári,hervinsson,8.09,7.66,0.43,auralin,37u,43u
210,vanessa,ferguson,7.97,7.58,0.39,auralin,39u,50u
211,nương,vũ,7.68,7.29,0.39,auralin,31u,38u
212,alexander,hueber,7.71,7.35,0.36,auralin,35u,38u
214,erick,pinto,7.88,7.49,0.39,auralin,44u,54u
217,taylah,mobourne,7.90,7.51,0.39,auralin,41u,50u
220,sinead,reilly,7.76,7.39,0.37,auralin,27u,39u
222,veronica,bogolyubova,7.69,7.31,0.38,auralin,25u,35u
223,anenechi,chidi,7.64,7.31,0.33,auralin,52u,61u
224,cintia,csorba,8.49,8.00,0.49,auralin,47u,50u
227,erica,macdonald,7.55,7.26,0.29,auralin,33u,39u
228,hawra',tuma,7.93,7.56,0.37,auralin,26u,35u
229,sandra,taylor,7.84,7.49,0.35,auralin,51u,58u
231,kisanet,selassie,9.64,9.27,0.37,auralin,48u,59u
233,arne,jørgensen,9.65,9.31,0.34,auralin,32u,43u
236,hường,lâm,7.66,7.29,0.37,auralin,40u,49u
237,manouck,wubbels,7.66,7.40,0.26,auralin,55u,62u
244,angel,grant,7.93,7.47,0.46,auralin,31u,37u
246,tomáš,navrátil,7.84,7.41,0.43,auralin,24u,36u
247,johanna,dreher,7.77,7.34,0.43,auralin,51u,59u
248,brianna,lansell,9.48,9.06,0.42,auralin,39u,47u
253,albino,schiavone,7.56,7.15,0.41,auralin,35u,43u
255,jia li,teng,7.66,7.32,0.34,auralin,48u,54u
256,ilija,horvat,7.77,7.38,0.39,auralin,42u,50u
262,alex,crawford,7.69,7.30,0.39,auralin,51u,62u
263,rebecca,jephcott,7.96,7.57,0.39,auralin,53u,63u
266,ursula,freud,7.75,7.46,0.29,auralin,42u,54u
270,mika,martinsson,7.50,7.17,0.33,auralin,34u,43u
273,kate,wilkinson,7.72,7.20,0.52,auralin,36u,39u
274,naja,enoksen,7.98,7.59,0.39,auralin,43u,50u
275,albina,zetticci,7.93,7.73,0.20,auralin,45u,51u
277,mathea,lillebø,9.04,8.67,0.37,auralin,23u,36u
278,vallie,prince,7.64,7.28,0.36,auralin,31u,38u
279,samúel,guðbrandsson,8.00,7.64,0.36,auralin,53u,56u
280,jožka,resanovič,7.56,7.22,0.34,auralin,22u,30u
281,inunnguaq,heilmann,7.85,7.45,0.40,auralin,57u,67u
282,alwin,svensson,7.78,7.34,0.44,auralin,36u,39u
284,amanda,ribeiro,7.85,7.47,0.38,auralin,36u,44u
286,sara,miles,7.53,7.12,0.41,auralin,30u,35u
287,frydryk,adamski,7.75,7.27,0.48,auralin,63u,74u
291,gabriela,michalčíková,8.37,7.97,0.40,auralin,26u,36u
293,bernarda,cindrić,7.89,7.55,0.34,auralin,40u,49u
295,dani,antoun,7.73,7.34,0.39,auralin,36u,44u
296,mijael,guerra,7.85,7.46,0.39,auralin,37u,47u
297,emma,barlow,7.85,7.39,0.46,auralin,48u,57u
298,flavia,fiorentino,7.95,7.60,0.35,auralin,46u,57u
299,noe,aranda,7.51,7.17,0.34,auralin,26u,34u
300,seweryna,czerwinska,7.66,7.30,0.36,auralin,39u,46u
301,david,villadsen,7.86,7.40,0.46,auralin,26u,39u
304,lóa,hrafnsdóttir,7.60,7.09,0.51,auralin,22u,31u
305,siebrigje,koldenhof,7.90,7.59,0.31,auralin,30u,38u
310,trifon,izmailov,7.68,7.28,0.40,auralin,58u,63u
311,galit,casárez,7.91,7.56,0.35,auralin,27u,37u
312,kifle,mustafa,7.80,7.41,0.39,auralin,42u,50u
315,alvin,jackson,7.62,7.23,0.39,auralin,38u,43u
316,chibuzo,okoli,7.64,7.29,0.35,auralin,28u,33u
319,maryam,dratchev,9.91,9.46,0.45,auralin,37u,45u
323,hans peter,radislav,7.60,7.20,0.40,auralin,42u,53u
325,štefanija,novosel,7.64,7.17,0.47,auralin,37u,42u
326,anja,mueller,7.58,7.29,0.29,auralin,43u,56u
327,regolo,nucci,7.53,7.02,0.51,auralin,51u,59u
332,vivien,zsinkó,8.35,7.92,0.43,auralin,30u,38u
333,genet,fesahaye,7.73,7.36,0.37,auralin,25u,35u
336,blanka,jurković,7.77,7.33,0.44,auralin,31u,43u
337,joseph,tucker,7.67,7.30,0.37,auralin,48u,56u
339,robert,maslov,7.65,7.35,0.30,auralin,55u,68u
341,ella,lund,7.57,7.21,0.36,auralin,38u,47u
342,fakhri,fakhoury,7.83,7.39,0.44,auralin,39u,50u
343,žarka,rap,7.54,7.15,0.39,auralin,35u,48u
345,rovzan,kishiev,7.75,7.41,0.34,auralin,32u,37u
347,bernd,schneider,7.74,7.44,0.30,auralin,48u,56u
349,armina,sauvé,7.86,7.40,0.46,auralin,36u,46u
351,elliot,richardson,7.56,7.09,0.47,novodra,40u,45u
352,yukitaka,takenaka,7.68,7.25,0.43,novodra,39u,36u
354,alissa,montez,7.78,7.46,0.32,novodra,33u,29u
355,jasmine,sykes,7.56,7.18,0.38,novodra,42u,44u
358,saber,ménard,8.08,7.70,0.38,novodra,54u,54u
361,kristiina,hyypiä,7.87,7.49,0.38,novodra,36u,38u
363,gregor,bole,7.61,7.16,0.45,novodra,47u,45u
367,gina,cain,7.88,7.40,0.48,novodra,36u,36u
368,addolorata,lombardi,7.75,7.33,0.42,novodra,49u,46u
369,khalid,johnsrud,8.35,7.94,0.41,novodra,54u,54u
370,mile,stanić,7.66,7.24,0.42,novodra,47u,48u
373,chiemela,tobeolisa,7.59,7.17,0.42,novodra,43u,47u
375,benoît,bonami,9.82,9.40,0.42,novodra,44u,43u
376,suhaim,rahal,7.94,7.50,0.44,novodra,49u,47u
377,mizuki,iwata,7.70,7.23,0.47,novodra,45u,46u
381,bao,she,9.09,8.62,0.47,novodra,48u,45u
382,laura,ehrlichmann,7.95,7.46,0.49,novodra,43u,40u
383,cannan,cabrera,7.94,7.58,0.36,novodra,40u,31u
385,csaba,sági,7.88,7.48,0.40,novodra,35u,29u
389,krisztina,magyar,7.52,7.01,0.51,novodra,32u,27u
390,ásta,grímsdóttir,7.62,7.16,0.46,novodra,29u,30u
391,mahmud,kadyrov,7.53,7.11,0.42,novodra,44u,43u
393,jens,poulsen,7.55,7.16,0.39,novodra,36u,32u
395,zdeněk,synek,7.67,7.32,0.35,novodra,31u,31u
397,jad allah,gaber,7.97,7.52,0.45,novodra,38u,41u
398,zak,kelly,7.66,7.26,0.40,novodra,38u,38u
399,jackson,addison,7.99,7.51,0.48,novodra,42u,42u
400,albinca,komavec,7.89,7.46,0.43,novodra,41u,39u
403,nasser,mansour,7.51,7.06,0.45,novodra,33u,31u
406,juliusz,majewski,7.78,7.31,0.47,novodra,41u,39u
407,klementyna,sokołowska,7.98,7.53,0.45,novodra,42u,41u
412,hanka,gegič,7.67,7.29,0.38,novodra,19u,27u
415,elisabeth,dimmen,7.60,7.28,0.32,novodra,41u,36u
417,joe,edwards,9.35,8.89,0.46,novodra,36u,37u
418,fatimah,kinfe,7.88,7.56,0.32,novodra,43u,42u
420,tosh,jensen,7.93,7.69,0.24,novodra,51u,48u
421,hugo,collins,8.00,7.53,0.47,novodra,53u,55u
422,gabrielle,bidwill,7.76,7.37,0.39,novodra,44u,49u
424,ole,petersen,7.95,7.55,0.40,novodra,29u,32u
425,mackenzie,mckay,9.87,9.48,0.39,novodra,44u,43u
426,noriyuki,sakai,7.58,7.16,0.42,novodra,32u,31u
427,placido,udinesi,7.91,7.49,0.42,novodra,38u,41u
430,hideki,haraguchi,7.59,7.05,0.54,novodra,37u,35u
433,else,andersen,7.98,7.60,0.38,novodra,36u,38u
436,ananías,enríquez,7.58,7.07,0.51,novodra,44u,45u
438,yumena,nakayama,7.76,7.35,0.41,novodra,34u,32u
441,michael,kristensen,8.51,8.08,0.43,novodra,40u,39u
442,sousuke,nakahara,7.91,7.49,0.42,novodra,37u,35u
443,melisa,mata,8.56,8.27,0.29,novodra,57u,57u
444,kwasi,mensa,8.29,7.89,0.40,novodra,40u,36u
446,abdul-nur,isa,7.98,7.53,0.45,novodra,54u,50u
447,niels,lange,7.58,7.21,0.37,novodra,43u,38u
449,abel,yonatan,7.88,7.50,0.38,novodra,38u,39u
450,kai,cunha,7.81,7.42,0.39,novodra,37u,36u
451,markus,solberg,7.95,7.57,0.38,novodra,35u,30u
452,bội,tạ,7.73,7.32,0.41,novodra,41u,40u
453,søren,frederiksen,7.71,7.31,0.40,novodra,56u,58u
455,finlay,sheppard,7.51,7.17,0.34,novodra,31u,30u
456,sofia,karlsen,7.62,7.15,0.47,novodra,35u,29u
457,flaviano,endrizzi,7.93,7.56,0.37,novodra,46u,43u
458,mùi,lương,7.74,7.32,0.42,novodra,52u,50u
460,suoma,koivunen,7.59,7.13,0.46,novodra,26u,25u
461,mevla,grabljevec,7.72,7.44,0.28,novodra,51u,55u
464,sabr,amari,7.94,7.57,0.37,novodra,32u,27u
467,javier,moquin,8.00,7.59,0.41,novodra,30u,32u
473,mgbankwo,afamefuna,7.55,7.18,0.37,novodra,36u,37u
474,nate,bowden,9.81,9.30,0.51,novodra,48u,47u
476,jowita,wiśniewska,7.50,7.08,0.42,novodra,22u,23u
477,farizah,sleiman,7.80,7.40,0.40,novodra,50u,50u
478,david,gustafsson,7.72,7.28,0.44,novodra,33u,34u
480,kamila,pecinová,7.77,7.39,0.38,novodra,54u,51u
481,søren,sørensen,7.93,7.59,0.34,novodra,41u,39u
483,vasco,van de wiel,7.94,7.51,0.43,novodra,31u,29u
484,kwemtochukwu,ogochukwu,7.86,7.53,0.33,novodra,34u,37u
487,ivona,jakšić,7.98,7.54,0.44,novodra,41u,41u
488,giovana,rocha,7.87,7.38,0.49,novodra,23u,21u
490,jesse,luoma,7.72,7.35,0.37,novodra,39u,37u
492,stephen,mayberry,7.82,7.47,0.35,novodra,40u,39u
497,krisztián,bakos,7.75,7.29,0.46,novodra,60u,60u
498,mustafa,lindström,7.92,7.60,0.32,novodra,35u,33u
503,nicole,zimmerman,8.98,8.57,0.41,novodra,59u,56u
504,saidmohmad,rushisvili,7.90,7.48,0.42,novodra,49u,46u
505,russom,amanuel,7.86,7.40,0.46,novodra,39u,36u
506,chidalu,onyekaozulu,7.54,7.27,0.27,novodra,42u,41u
507,asuna,morita,7.58,7.25,0.33,novodra,35u,39u
508,sandy,gunnarsson,7.97,7.45,0.52,novodra,41u,44u
522,malina,balagić,7.65,7.30,0.35,novodra,48u,50u
531,kong,lei,7.58,7.15,0.43,novodra,32u,30u
532,kajsa,eidem,7.77,7.34,0.43,novodra,41u,38u
533,tegan,johnson,7.79,7.43,0.36,novodra,34u,34u
535,leah,wong,7.79,7.42,0.37,novodra,28u,31u
536,fraser,hunter,7.70,7.42,0.28,novodra,36u,32u
537,león,reynoso,7.59,7.06,0.53,novodra,38u,40u
538,bouke,glaser,7.72,7.34,0.38,novodra,26u,30u
540,martha,afanasyeva,7.81,7.39,0.42,novodra,34u,41u
541,monika,lončar,9.13,8.72,0.41,novodra,49u,46u
542,valur,bjarkason,9.71,9.41,0.30,novodra,31u,36u
544,eufrosina,schiavone,9.00,8.56,0.44,novodra,23u,23u
547,angelico,marchesi,7.62,7.18,0.44,novodra,58u,58u
549,novalie,berg,7.85,7.49,0.36,novodra,32u,31u
551,lena,baer,7.70,7.40,0.30,novodra,41u,38u
552,martina,tománková,7.83,7.36,0.47,novodra,50u,57u
553,willem-jan,van der lubbe,7.57,7.20,0.37,novodra,40u,40u
555,najla,touma,7.66,7.31,0.35,novodra,39u,44u
556,emy,markus,7.53,7.14,0.39,novodra,29u,24u
558,katrine,lynge,7.60,7.13,0.47,novodra,43u,42u
563,cecilie,nilsen,9.63,9.21,0.42,novodra,49u,50u
565,adib,ghanem,7.59,7.12,0.47,novodra,46u,49u
566,þórunn,tryggvadóttir,7.98,7.51,0.47,novodra,30u,32u
568,sirkka,piirainen,8.90,8.59,0.31,novodra,26u,24u
569,diệt,bùi,9.11,8.76,0.35,novodra,30u,32u
571,torben,mortensen,7.80,7.40,0.40,novodra,44u,40u
575,liêm,phan,7.58,7.10,0.48,novodra,43u,48u
576,daud,batukayev,7.98,7.51,0.47,novodra,37u,30u
580,eric,ek,7.92,7.47,0.45,novodra,51u,47u
582,pamela,hill,9.53,9.10,0.43,novodra,27u,29u
584,haylom,nebay,7.62,7.22,0.40,novodra,42u,44u
585,eemil,laine,7.89,7.53,0.36,novodra,30u,29u
588,anja,hueber,8.82,8.36,0.46,novodra,31u,32u
589,linda,lundy,7.97,7.52,0.45,novodra,48u,53u
590,rocco,christie,7.96,7.62,0.34,novodra,42u,40u
591,elisabetta,lorenzo,7.78,7.42,0.36,novodra,28u,24u
592,fareeq,kalb,7.97,7.59,0.38,novodra,51u,54u
593,sargent,flamand,7.92,7.49,0.43,novodra,47u,39u
595,wu,sung,7.61,7.12,0.49,novodra,47u,48u
599,kang,mai,7.78,7.45,0.33,novodra,39u,36u
600,chen,yao,7.90,7.51,0.39,novodra,56u,57u
601,aksel,vestergaard,9.62,9.29,0.33,novodra,42u,38u
602,ellen,luman,9.27,8.77,0.50,novodra,40u,39u
604,jose,combs,7.89,7.42,0.47,novodra,39u,36u
607,mathilde,nørgaard,8.50,8.10,0.40,novodra,27u,28u
608,csilla,herczegh,7.71,7.27,0.44,novodra,43u,46u
609,aaliyah,rice,7.64,7.33,0.31,novodra,31u,31u
610,david,beauvais,7.87,7.47,0.40,novodra,26u,23u
611,caroline,shuler,7.63,7.27,0.36,novodra,50u,54u
614,chukwumoge,ogochukwu,7.95,7.56,0.39,novodra,41u,39u
615,fearne,mcgregor,7.83,7.48,0.35,novodra,27u,29u
617,leon,scholz,7.72,7.29,0.43,novodra,38u,32u
618,yasmin,araujo,7.82,7.36,0.46,novodra,51u,54u
619,hiromu,horikawa,7.77,7.28,0.49,novodra,47u,46u
621,leo,vieira,7.74,7.36,0.38,novodra,30u,33u
622,steven,roy,7.87,7.43,0.44,novodra,41u,43u
626,john,teichelmann,7.90,7.58,0.32,novodra,49u,49u
633,thể,lương,7.64,7.22,0.42,novodra,61u,64u
635,meya,sjöberg,7.77,7.42,0.35,novodra,42u,42u
638,jane,citizen,7.98,7.60,0.38,novodra,37u,38u
639,angela,lavrentyev,7.61,7.14,0.47,novodra,28u,24u
640,edelma,villalpando,7.99,7.56,0.43,novodra,24u,26u
642,annika,vaara,7.73,7.34,0.39,novodra,20u,21u
644,chiho,higa,7.71,7.30,0.41,novodra,46u,46u
652,beatrycze,woźniak,7.54,7.17,0.37,novodra,26u,27u
653,miłosław,wiśniewski,7.51,7.08,0.43,novodra,34u,33u
656,firenze,fodor,7.89,7.55,0.34,novodra,30u,35u
657,zoe,wellish,7.71,7.30,0.41,novodra,33u,33u
658,una,traustadóttir,8.00,7.50,0.50,novodra,35u,34u
659,luboš,pecha,7.79,7.45,0.34,novodra,30u,27u
663,meaza,brhane,7.70,7.36,0.34,novodra,37u,41u
664,adlan,shishani,7.84,7.37,0.47,novodra,43u,40u
667,sofia,hermansen,8.90,8.57,0.33,novodra,34u,34u
668,guðni,heimisson,7.64,7.24,0.40,novodra,40u,36u
670,eufemio,rosario,7.54,7.26,0.28,novodra,37u,40u
671,dalmacia,madrid,7.67,7.21,0.46,novodra,26u,23u
672,daimy,tromp,9.41,8.94,0.47,novodra,40u,45u
674,jeremy,montagu,7.68,7.36,0.32,novodra,52u,52u
678,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u,39u
679,satsita,batukayev,7.63,7.25,0.38,novodra,42u,42u
680,timothy,cotton,7.92,7.52,0.40,novodra,26u,25u
681,bjørnar,nilsen,7.99,7.70,0.29,novodra,36u,33u
684,borna,šlezinger,7.55,7.18,0.37,novodra,42u,41u
685,mary,adams,7.65,7.26,0.39,novodra,32u,33u
688,christopher,woodward,7.51,7.06,0.45,novodra,55u,51u
690,maret,sultygov,7.67,7.30,0.37,novodra,26u,23u
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u,23u
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u,26u
698,berta,napolitani,7.68,7.21,0.47,novodra,42u,44u

In [90]:
# Your cleaning code here
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment', value_name='dose')
                           
treatments_clean = treatments_clean[treatments_clean.dose != "-"]
treatments_clean['dose_start'], treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ', 1).str
treatments_clean = treatments_clean.drop('dose', axis=1)

##### Test

In [93]:
# Your testing code here
treatments_clean.head(3)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u

In [92]:
treatments_clean.shape

(350, 8)

#### Adverse reaction should be part of the `treatments` table

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for the function used in the solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_join_merge_dataframe.html) for one function used in the solution and [tutorial](http://erikrood.com/Python_References/dropping_rows_cols_pandas.html) for another function used in the solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

### Quality

<font color='red'>Complete the remaining "Quality" **Define, Code, and Test** sequences after watching the *"Cleaning for Quality"* video.</font>

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Define
*Your definition here. Hint: see the "Data Cleaning Process" page.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Tim Neudorf height is 27 in instead of 72 in

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Full state names sometimes, abbreviations other times

##### Define
*Your definition here. Hint: [tutorial](https://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html) for method used in solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Dsvid Gustafsson

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns) and Erroneous datatypes (auralin and novodra columns) and The letter 'u' in starting and ending doses for Auralin and Novodra

##### Define
*Your definition here. Hint: [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html) for one method used in solution, [documentation page](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html) for one function used in the solution, and [documentation page](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.strip.html) for another method used in the solution.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Multiple phone number formats

##### Define
*Your definition here. Hint: helpful [Stack Overflow answer](https://stackoverflow.com/a/123681).*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Default John Doe data

##### Define
*Your definition here. Recall that it is assumed that the data that this John Doe data displaced is not recoverable.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### Multiple records for Jakobsen, Gersten, Taylor

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here

#### kgs instead of lbs for Zaitseva weight

##### Define
*Your definition here.*

##### Code

In [ ]:
# Your cleaning code here

##### Test

In [ ]:
# Your testing code here